body {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: auto;
    width: max-content;
    height: max-content;
    display: flex;
    position: relative;
}

.main-container .lift-container,
.maintenance {
    background-color: #5C8374;
    position: relative;
    outline: 1px solid white;
    width: 200px;
}

.lift {
    text-align: center;
    width: 100px;
    height: 80px;
    color: white;
    background-color: #183D3D;
    margin: auto;
    position: absolute;
    /* top: 85%; */
    bottom: 0px;
    left: 25%;
    /* transform: translate(-50%, 0%); */
    transition: .5s;
}

.blocked {
    border: 1px solid red;
    background-color: #415e5e;
}

.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 20px; */
}

p {
    font-size: 25px;
}

.floor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid white;
    height: 100px;
    width: 200px;
    color: white;
}


.aeroBtn {
    font-size: 25px;
    border-radius: 15%;
    text-align: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #183D3D;
    cursor: pointer;
    transition: .5s;
}

/* .aeroBtn:hover {
    border: 1px solid white;
    color: black;
    background-color: #5C8374;
} */