body {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: auto;
    width: 1000px;
    height: 500px;
    display: flex;
    position: relative;
}

.main-container .lift-container,
.maintenance {
    background-color: #5C8374;
    position: relative;
    outline: 1px solid white;
    width: 250px;
}

.lift {
    text-align: center;
    width: 100px;
    height: 80px;
    color: white;
    background-color: #183D3D;
    margin: auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: .5s;
}

.blocked {
    top: 75% !important;
    border: 1px solid red;
    background-color: #415e5e;
}

.floor-5 {
    top: 1%;
}

.floor-4 {
    top: 20%;
}

.floor-3 {
    top: 39%;
}

.floor-2 {
    top: 58%;
}

.floor-1 {
    top: 75%;
}

.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 25px;
}

.floor {
    display: flex;
    align-items: center;
    gap: 60px;
    border-bottom: 1px solid white;
    height: 94px;
    width: 230px;
    color: white;
}


.aeroBtn {
    font-size: 25px;
    border-radius: 15%;
    text-align: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #183D3D;
    cursor: pointer;
    transition: .5s;
}

/* .aeroBtn:hover {
    border: 1px solid white;
    color: black;
    background-color: #5C8374;
} */